.SignupPage_layout {
  text-align: center;
  height: 100%;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  color: var(--main-text-color);
  font-size: 3.6rem;
  font-weight: 700;
}

.Signup_input_boxs {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  margin-bottom: 10rem;
  width: 90vw;
  max-width: 40rem;
  min-width: 300px;
}

.Signup_input_box {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 11rem;
  width: 100%;
  margin-bottom: 2rem;
}
.Signup_input_box_ {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 11rem;
  width: 100%;
  margin-top: 10rem;
}

.label_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label_box > label {
  color: var(--main-text-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.5rem;
  line-height: 3rem;
}
.label_box > p {
  font-size: 1.5rem;
  color: #E42938;
}

.input_box {
  margin-bottom: 1rem;
}

.Input > input {
  border: 1px solid var(--grey-da-color);
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  padding: 1rem;
}

input:focus {
  border-color: var(--accent-color);
  outline: none;
}

input.valid {
  border-color: var(--accent-color);
}

input.invalid {
  border-color: #E42938;
}

.error_message {
  color: #E42938;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.ok_message {
  color: var(--accent-color);
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.confirmCode_messegeBox{
  display: flex;
  flex-direction: row;
}

.loaderBox{
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.time{
  margin-left: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  width: 11rem;
  display: flex;
  flex-direction: row;
}
.timeTitle {
  color: var(--black-44-color);
  
}
.timeNum{
  margin-left: 0.5rem;
  color: #E42938;
}

.Signup_progress_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.Signup_progress_box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 16rem;
}

.SignupBtn {
  color: var(--main-bg-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  height: 5rem;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.SignupBtn_Success {
  color: var(--main-bg-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  height: 5rem;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.SignupBtn_Yet {
  color: var(--grey-e5-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  height: 5rem;
  width: 100%;
  background-color: var(--grey-a9-color);
  border-radius: 10px;
}

.Input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Input > p {
  color: var(--grey-a9-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.selection {
  border: 1px solid var(--grey-da-color);
}

.toLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toLogin > p {
  font-size: 1.6rem;
}
.toLogin > button {
  font-size: 1.6rem;

}

.tologinBtn {
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0);
  margin-left: 1rem;
}

.checkingBtn {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--black-44-color);
  padding: 1.5rem 1rem;
  border-radius: 10px;
  color: var(--main-bg-color);
  margin-left: 1rem;
  min-width: 12.3rem;
}
.checkingBtn_Yet {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--grey-a9-color);
  padding: 1.5rem 1rem;
  border-radius: 10px;
  color: var(--main-bg-color);
  margin-left: 1rem;
  min-width: 12.3rem;
}

.Select > select {
  width: 40%;
  height: 4rem;
  border-radius: 10px;
  padding-left: 1rem;
}

.semester_p {
  font-size: 3rem;
  min-width: 5rem;
  margin-right: 16rem;
}

.selection{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--grey-da-color);
  border-radius: 10px;
  height: 5rem;
  padding: 1rem;
  background-color: white;
  font-size: 1.6rem;
  color: var(--grey-a9-color);
}
.partMenu{
  margin-top: 0.5rem;
  width: 50%;
  border: 1px solid var(--grey-da-color);
  border-radius: 10px;
  background-color: white;
}
.part{
  font-size: 1.6rem;
  padding: 1.4rem;
  margin:0;
  color: #1C1B1A;
}
.partSelect{
  font-size: 1.6rem;
  padding: 1.4rem;
  margin:0;
  color: #1C1B1A;
  background-color: var(--grey-da-color);
}


.consent_information_box{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.consent_table{
  width: 100%;
  border-collapse: collapse;
}


.consent_head{
  background-color: var(--lightgrey-color);
  width: 20%;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #D7D7DF;
}
.consent_body{
  padding: 0.5rem;
  height: max-content;
  font-size: 1rem;
  line-height: 130%;
  border-bottom: 1px solid #D7D7DF;
}

.consent_info{
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  line-height: 130%;
}
