.allContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-top: 3%;
}

.subTitle{
    color: #FF7710;
    font-size: 16px;
    font-weight: 700;
    padding: 6%;
}

.mainTitle{
    color: #1C1B1A;
    font-size: 48px;
    font-weight: 700;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.content{
    color:#1C1B1A;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3%;
}

.inputContainer{
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 3%;
}

.input{
    border-radius: 10px;
    border-color: #9F9C98;
    width: 400px;
    height: 50px;
    margin-left: 3%;
}

.checkButton{
    background-color: #80BC5B;
    color: #fff;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.checkButton:hover {
    background-color: #5b9835;
    transform: scale(1.05);
  }