.passwordChange-form {
    text-align: center;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 3.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .passwordChange-form__title {
    color: var(--main-text-color);
    font-size: 3.6rem;
    font-weight: 700;
  }
  
  .passwordChange-form__inputboxs {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 90vw;
    max-width: 40rem;
    min-width: 300px;
  }
  
  .passwordChange-form__inputbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 11rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  /* label 관련 */
  label {
    color: var(--main-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 0.5rem;
    line-height: 3rem;
  }
  
  /* input창 관련 */
  .passwordChange-form__inputsection {
    margin-bottom: 1rem;
  }
  
  .passwordChange-form__input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .passwordChange-form__input > p {
    color: var(--grey-a9-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
  
  .passwordChange-form__input > input {
    border: 1px solid var(--grey-da-color);
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    padding: 1rem;
  }
  
  input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  
  input.valid {
    border-color: var(--accent-color);
  }
  
  input.invalid {
    border-color: #E42938;
  }
  
  /* input창 아래 메세지 관련 */
  .error_message {
    color: #E42938;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
  
  .ok_message {
    color: var(--accent-color);
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
  
  /* 회원가입 진행 버튼 */
  .passwordChange-form__progressBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  
  .passwordChange-form__button--submitting {
    color: var(--main-bg-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
    height: 5rem;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 10px;
  }
  