.btn {
  cursor: pointer;
}

.btn--bright {
  background-color: var(--main-bg-color);
}

.btn--dark {
  background-color: var(--black-44-color);
}

.btn--grey {
  background-color: #9f9fb2;
}

.btn--lightgrey {
  background-color: var(--lightgrey-color);
}

.btn-small {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
}

.btn-medium {
  width: 100%;
  max-width: 100px;
}

.btn-large {
  width: 100%;
  max-width: 120px;
  height: 40px;
}

.btn__icon {
  width: 50%;
  height: 50%;
}

.btn__icon--red {
  color: red;
}

.btn--rounded-small {
  border-radius: 10px;
}

.btn--rounded-medium {
  border-radius: 20px;
}

.btn__text-small {
  font-weight: 700;
  font-size: 16px;
}

.btn__text-color--bright {
  color: var(--main-bg-color);
}

.btn__text-color--black {
  color: black;
}
