.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    background-color: var(--main-bg-color);
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    min-width: 360px;
    max-width: 1280px;
}

.logo button {
    background: none;
    border: none;
    font-size: 2.2vh;
    cursor: pointer;
    color: var(--main-text-color);
    display: flex;
    align-items: center; 
}

.logo img {
    padding-right: 1vh;
    height: 5vh;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2vh;
}

.navbar li {
    margin-left: 2vh;
}

.navbarBtn {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    padding-right: 1.5vh;
    transition: color 0.3s ease, filter 0.3s ease;
    color: var(--main-text-color);
    display: flex;
    align-items: center; 
}

.navbar button img {
    height: 2.5vh;
    margin-right: 0.5vh;
    transition: filter 0.3s ease;
}

.navbarBtn:hover {
    color: var(--accent-color);
}

.menuIcon {
    display: none;
}

.loginBtn {
    display: flex;
    align-items: center; 
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--black-44-color);
    color: var(--main-bg-color);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-weight: 500;
}

.loginImg {
    width: 1.8rem;
    margin-right: 0.8rem;
}

/* 반응형 */
@media screen and (max-width: 767px) {
    .menuIcon {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menuIcon img {
        height: 4vh;
        transition: transform 0.3s ease;
    }

    .navbar {
        position: absolute;
        top: 5vh;
        right: 0;
        background-color: var(--main-bg-color);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        border-radius: 0 0 7rem 7rem;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 1.5vh 0;
    }

    .navbar.active {
        max-height: 50vh; 
    }

    .menuIcon.open img {
        transform: rotate(90deg); 
    }

    .navbar.active + .menuIcon img {
        transform: rotate(180deg);
    }
}