.allContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleContainer {
    margin-bottom: 5%;
}

.titleText {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--main-text-color);
}

.newCategoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--lightgrey-color);
    padding: 20px;
    box-sizing: border-box;
}

.generationInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.categoryText {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-right: 20px;
}

.generationInput {
    width: 70px;
    height: 30px;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 0;
    border-color: var(--grey-a9-color);
}

.upDownButtonContainer {
    display: flex;
    flex-direction: column;
}

/* .upButton,
.downButton {
    background-color: white;
    border: 1px solid var(--grey-a9-color);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    margin: 2px 0;
} */

.tableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

.inputField {
    width: 100%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 0;
}

.imageButton {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submitButton {
    background-color: #FF9800;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.selectField {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--grey-a9-color);
    background-color: white;
    appearance: none;
    cursor: pointer;
}

.deleteButtonContainer{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.addRowButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addRowButton {
    background-color: var(--grey-da-color);
    color: var(--main-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table th,
.table td {
    border: 1px solid var(--grey-a9-color);
    padding: 10px;
}

/* 테이블 헤더 스타일 */
.table th {
    background-color: var(--lightgrey-color);
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--main-text-color);
}

/* 테이블 셀 스타일 */
.table td {
    background-color: white;
    position: relative;
    cursor: pointer;
}

.table td span {
    color: var(--grey-a9-color);
    padding: 10px;
}

.tableInput {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: inherit;
    text-align: left;
    cursor: pointer;
}

.container {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.container p {
    width: 6vw;
}

.uploadButton {
    background-color: var(--grey-a9-color);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.uploadButton:hover {
    background-color: var(--lightgrey-color);
    color: var(--main-text-color);
}

.hiddenInput {
    display: none;
}

.fileName {
    font-size: 1rem;
    color: var(--main-text-color);
    margin-left: 10px;
}

@media (max-width: 1350px) {
    .allContainer {
        padding: 5% !important;
        box-sizing: border-box !important;
    }

    .table td {
        background-color: white;
        font-size: 1.6rem;
    }

    .tableInput {
        font-size: 1.6rem;
    }

    .container p {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .table td {
        background-color: white;
        font-size: 1.4rem;
    }

    .tableInput {
        font-size: 1.4rem;
    }

    .table th {
        font-size: 1.4rem;
        padding: 5px;
    }
}

@media (max-width: 1100px) {
    .allContainer {
        padding: 5% !important;
        box-sizing: border-box !important;
    }

    .table td {
        background-color: white;
        font-size: 1.2rem;
    }

    .tableInput {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .allContainer {
        padding: 5% !important;
        box-sizing: border-box !important;
    }

    .table td {
        background-color: white;
        font-size: 1.2rem;
    }

    .tableInput {
        font-size: 1.2rem;
    }

    .container p {
        font-size: 1rem;
    }
}