.pageWrapper {
  width: 100%;
  padding: 73px 8.35%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .pageWrapper {
    padding: 73px 7%;
  }
}

/* HeaderSection */

/* QuestionType */

/* AnswerSection */
