.section {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  height: 70vh;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20vw; */
  padding-top: 10vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1vh;
  color: var(--grey-a9-color);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  width: 14rem;
  height: 16rem;
}

.image {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border: 0.2rem solid var(--grey-da-color);
  border-radius: 5rem;
}

.editButton {
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.submitButton {
  width: 12rem;
  height: 2.5rem;
  background-color: var(--lightgrey-color);
  border-radius: 0.8rem;
}

.itembox {
  margin-top: 5vh;
}

.itembox__button {
  max-width: 40rem;
  width: 90vw;
  text-align: center;
  background-color: var(--lightgrey-color);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  padding: 2rem 6rem;
  margin-top: 1.5rem;
}
