.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 95%;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #dadada;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #64a672;
}
