.allContainer{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.title{
    font-size: 36px;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 10%;
}

.qaContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qaItem {
    padding: 3%;
    background-color: #ECF0E9;
}

.questionContainer {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-44-color);
    display: flex;
    justify-content: space-between;
}

.questionContainer span {
    color: var(--grey-a9-color);
    font-weight: bold;
    margin-right: 10px;
}

.answer {
    font-size: 20px;
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    margin-top: 3%;
}

.answerPrefix {
    color: var(--main-text-color);
    font-weight: bold;
    margin-right: 10px;
    flex-shrink: 0;
}

.answerContainer {
    flex: 1;
}

.answerLine {
    margin: 0;
    padding: 0;
    text-indent: 0;
    line-height: 1.5;
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

@media (max-width: 765px) {
    .title{
        font-size: 2.5rem;
    }

    .questionContainer{
        font-size: 1.6rem;
    }

    .answer{
        font-size: 1.6rem;
    }
}
