.allContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  margin-bottom: 2%;
}

.titleText {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-text-color);
}

.newCategoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--lightgrey-color);
  padding: 20px;
  box-sizing: border-box;
}

.generationInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.categoryText {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-text-color);
  margin-right: 20px;
}

.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
}

.inputField {
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 0;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: var(--black-44-color);
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
}

.submitButton:hover {
  background-color: var(--grey-da-color);
  color: var(--main-text-color);
}

.selectField {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid var(--grey-a9-color);
  background-color: white;
  appearance: none;
  cursor: pointer;
}

.deleteButtonContainer {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table tr {
  height: 8vh;
}

.table th,
.table td {
  border: 1px solid var(--grey-a9-color);
  padding: 10px;
}

/* 테이블 헤더 스타일 */
.table th {
  background-color: var(--lightgrey-color);
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-text-color);
  align-content: center;
}

/* 테이블 셀 스타일 */
.table td {
  background-color: white;
  position: relative;
  cursor: pointer;
  align-content: center;
}

.table td:nth-child(1) {
  width: 100px;
}

.table td:nth-child(2) {
  width: 150px;
}

.table td:nth-child(3) {
  width: 150px;
}
.table td:nth-child(4) {
  width: 150px;
}

.table td:nth-child(5) {
  width: 150px;
}

.table td:nth-child(6) {
  width: 85px;
}

.table td:nth-child(7) {
  width: 200px;
}

.table td:nth-child(8) {
  width: 10px;
}

.table td span {
  color: var(--grey-a9-color);
  padding: 5px;
}

.tableInput {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
  text-align: left;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container p {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}

.uploadButton {
  background-color: var(--grey-a9-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 50%;
}

.uploadButton:hover {
  background-color: var(--grey-da-color);
  color: var(--main-text-color);
}

.hiddenInput {
  display: none;
}

.fileName {
  font-size: 1rem;
  color: var(--main-text-color);
  margin-left: 10px;
}

.fileNameContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1350px) {
  .allContainer {
    padding: 5% !important;
    box-sizing: border-box !important;
  }

  .table td {
    background-color: white;
    font-size: 1.6rem;
  }

  .tableInput {
    font-size: 1.6rem;
  }

  .container p {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .table td {
    background-color: white;
    font-size: 1.4rem;
  }

  .tableInput {
    font-size: 1.4rem;
  }

  .table th {
    font-size: 1.4rem;
    padding: 5px;
  }
}

@media (max-width: 1100px) {
  .allContainer {
    padding: 5% !important;
    box-sizing: border-box !important;
  }

  .table td {
    background-color: white;
    font-size: 1.2rem;
  }

  .tableInput {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .allContainer {
    padding: 5% !important;
    box-sizing: border-box !important;
  }

  .table td {
    background-color: white;
    font-size: 1.2rem;
  }

  .tableInput {
    font-size: 1.2rem;
  }

  .container p {
    font-size: 1rem;
  }
}
