.scheduleImg {
  width: 80vh;
  height: auto;
  object-fit: cover;
  margin: 3vh;
  margin-bottom: 10vh;
}

@media (max-width: 820px) {
  .scheduleImg {
    width: 90vw;
  }
}

.title {
  color: var(--main-text-color);
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 7rem;
}
