@media (max-width: 1300px) {
    .managementCardGrid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (max-width: 1100px) {
    .managementCardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 880px) {
    .managementCardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 650px) {
    .managementCardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .btn {
        font-size: 14px !important;
        font-weight: 700;
    }
}

.allContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 5%;
}

.buttonContainer {
    display: flex;
    padding: 5%;
    gap: 2%;
    justify-content: center;
    width: 80%;
}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--main-text-color);
    background-color: #fff;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: rgb(191, 191, 191);
    transform: scale(1.05);
}

.chairmanContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 5%;
}

.chairmanCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.chairman {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText {
    font-size: 23.04px;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 20px;
    margin-top: 10px;
}

.managementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.babylionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.managementCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px){
    .chairmanContainer{
        margin-top: 5%;
    }

    .managementContainer{
        margin-top: 5%;
    }

    .babylionContainer{
        margin-top: 5%;
    }

    .title{
        font-size: 3.5rem;
    }
}