.sectionWrapper {
  width: 55.61%;
  min-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 54px 0;
}

.trackInfo {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 20px 0;
  background-color: #f5f5f7;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.09px;
  }
}

.userInfo > span {
  font-size: 2rem;
  color: rgba(169, 169, 169, 1);
}

.question {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.inputWrapper {
  width: 100%;
  height: 30rem;

  textarea {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(159, 156, 152, 1);
    border-radius: 20px;
    display: flex;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 20px 2.5%;
    box-sizing: border-box;
    resize: none;
    font-family: 'Pretendard Variable';
  }
}

.charCount {
  margin-top: 5px;
  text-align: right;

  span {
    font-size: 1rem;
  }
}

.questionName span {
  font-size: 2rem;
  line-height: 2.905rem;
}

.buttonWrapper {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    width: 16.67%;
    aspect-ratio: 10/3;
    font-size: 1.6rem;
    border-radius: inherit;
    font-weight: 600;
    transition: transform 0.2s ease;
    color: black;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.submitBtn {
  background-color: rgba(255, 119, 16, 1);
  color: white !important;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 767px) {
  .buttonWrapper button {
    width: 100px;
  }
  .sectionWrapper {
    padding: 0;
    width: auto;
    min-width: auto;
  }
}
