.input {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.input-small {
}

.input-medium {
}

.input-large {
  max-width: 530px;
  height: 50px;
}

.input--rounded {
  border: 1px solid var(--grey-da-color);
  border-radius: 10px;
}
