.allContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding: 5%;
}

.contentContainer{
    width: auto;
    height: auto;
    background-color: var(--lightgrey-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 3%;
}

.content {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
  }

@media (max-width: 767px){
    .spanStyle{
        font-size: 2.4rem;
    }

    .content{
        font-size: 2rem;
    }

}

@media (max-width: 600px){

    .content{
        font-size: 1.5rem;
    }

    .spanStyle{
        font-size: 2rem;
    }
}