.div {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vw;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 300px;
    justify-content: center;
    padding: 5vw;
    background-color: var(--lightgrey-color);
    position: relative;
}