@media (max-width: 1300px) {

    .managementCardGrid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 1100px) {
    .managementCardGrid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 950px) {
    .subTitleGrid{
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .managementCardGrid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 700px) {
    .subTitleGrid{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .managementCardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .cardGrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .btn {
        font-size: 14px !important;
        font-weight: 700;
    }
}

.allContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    width: 100%;
}

.chairmanContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 5%;
}

.chairmanCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.chairman {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainText {
    font-size: 4rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 20px;
    margin-top: 10px;
}

.subTitleGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.subText{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 20px;
    margin-top: 10px;
    width: 200px;
}

.managementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.babylionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.managementCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.cardSkeleton{
    height: 250px;
    border-radius: 1.4rem !important;
}

@media (max-width: 500px){
    .chairmanContainer{
        margin-top: 5%;
    }

    .managementContainer{
        margin-top: 5%;
    }

    .babylionContainer{
        margin-top: 5%;
    }

    .title{
        font-size: 3.5rem;
    }

    .subTitleGrid{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .subText{
        width: 160px;
    }
}