.cardContainer {
    width: 190px;
    padding: 10% 5%;
    border-radius: 14.4px;
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.img {
    width: 150px;
    height: 150px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.subInfo {
    font-size: 10px;
    font-weight: 700;
    color: #AAAAAA;
    margin-bottom: 2%;
}

.name {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-text-color);
}

@media (max-width: 500px) {
    .cardContainer{
        width: 160px;
    }
}